body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2e7d32;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.hero {
    background-color: #81c784;
    padding: 50px;
    text-align: center;
    color: white;
}

.produk {
    padding: 20px;
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    border-radius: 8px;
}

button {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
}

footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 10px;
}